.delete {
	background-color: red;
	color: white;
	width: 20px;
	height: 20px;
	position: absolute;
	text-align: center;
	top: -20px;
	cursor: pointer;
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
}
